.app-header {
    margin: 0;
    padding: 0 15px;
    font-family: 'muli,Arial,sans-serif';
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;

    .left-menu {
        display: flex;
        justify-content: space-between;

        .app-logo {
            font-family: 'muli,Arial,sans-serif';
            padding: 15px 20px;
            border-right: 1px solid #ddd;
        
            &> .logo {
              text-decoration: none;
              color: #3797da;
            }
            .logo:hover {
                color: #333;
            }
        }
        .app-dashboard {
            padding: 15px 20px;
            &> a {
                text-decoration: none;
                color: #777;
            }
            a:hover {
                color: #333;
            }
        }
        .app-newAutomation {
            padding: 15px 20px;
            &> a {
                text-decoration: none;
                color: #777;
            }
            a:hover {
                color: #333;
            }
        }
    }

    .right-menu {
        padding: 15px 20px;
        &> a {
            text-decoration: none;
            color: #777;
        }
        a:hover {
            color: #333;
        }
    }
}